@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    padding: 0;
    margin: 0;
}

body{
    content: "";
    background-image: url('../src/assets/images/bg.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.85
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Inter', sans-serif;
}

.text-gradient {
    --linear: linear-gradient(90deg, #B2FEFA 0%, #0ED2F7 100%);
    background: var(--linear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-gradient {
    position: relative;
}

.border-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.5rem;
    padding: 1px;
    background: linear-gradient(90deg, #B2FEFA, #0ED2F7);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.menu-active{
    font-weight: bold;
    color: white;
}